.form__accept-profile-edit{
    width: 358px;
    height: 50px;
    background: #000000;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    margin: 48px 36px 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.2s linear;
}

.form__accept-profile-edit:hover{
    background: rgba(0,0,0,0.8);
}

.form__accept-profile-edit:disabled{
    cursor: default;
    opacity: 0.2;
    color: #000000;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 2px;
}
.form__accept-profile-edit:disabled:hover{
    background: transparent;
}

@media screen and (max-width: 635px){
    .form__accept-profile-edit{
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px 22px 25px;
    }
}