.profile__add-button{
    margin-left: auto;
    width: 150px;
    height: 50px;
    border: solid 1px white;
    background-color: transparent;
    cursor: pointer;
    background-image: url("../../../images/profile__add-btn-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    transition: opacity 0.2s linear;
}

.profile__add-button:hover{
    opacity: 0.6;
}


@media screen and (max-width: 825px) {
    .profile__add-button{
        margin: 36px auto 0;
        width: 100%;
        max-width: 470px;
        background-size: 16px;
    }
}